{% extends "base/header.html" %}

{% block title %} Signin Page {% endblock title %}

{% block body_part %}
      
      <div class="row justify-content-center regs">
        <div class="col-sm-6">
            <h2 class="text-muted ">
                Signin
            </h2>
            <form method="POST" action="{% url "signin" %}">
                {% csrf_token %}
                <!--for username -->
                <div class="form-group">    
                    <label for="{{form.username.id_for_label}}">Username</label> 
                    <input type="text" name="{{form.username.name}}" class="form-control" value="{{form.username.value}}" />
                    <span class="text-danger">{{form.username.errors}}</span> 
                </div>

                <!-- for password -->
                <div class="form-group">
                    <label for="{{form.password.id_for_label}}">Password</label> 
                    <input type="password" name="{{form.password.name}}" class="form-control" />
                    <span class="text-danger">{{form.password.errors}}</span> 
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
                <div class="buttons">
                    <a href="#">Forget Password</a>               
                <a href="{% url "signup" %}" class="btn btn-default">Create Your Account</a>
                </div>
            </form>
        </div>

      </div>
      {% endblock body_part %}
