 {% extends "main/head.html" %}
 {% block title %}
 index Page
 {% endblock title %}

 {% block body_part %}
      <div class="container">
        <!-- SEARCH FORM -->
         {% csrf_token %}
<form method="GET" class="mb-4">
  <div class="row g-2">
    <div class="col-md-3">
      <input type="text" name="title" class="form-control" placeholder="Search by title" value="{{ request.GET.title }}">
    </div>
    <div class="col-md-3">
      <input type="text" name="author" class="form-control" placeholder="Search by author" value="{{ request.GET.author }}">
    </div>
    <div class="col-md-3">
      <select name="category" class="form-control">
        <option value="">All Categories</option>
        {% for category in categories %}
          <option value="{{ category.id }}" {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
            {{ category.name }}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-3">
      <button type="submit" class="btn btn-outline-primary w-100">Search</button>
    </div>
  </div>
</form>

        <div class="row mt-5 pt-5 container_part">
          <!-- Left part: form -->
          <div class="col-md-4 container_form">
            <div class="card my-3 shadow">
              <div class="card-body">
                <form method="POST" action="{% url "index" %}">
                  {% csrf_token %}
                    <h4>Add Your Blog</h4>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Title:</label>
                      <input type="text" class="form-control" name="title"  id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="category" class="form-label">Category:</label>
                      <select class="form-control" name="category" id="category">
                        <option value="">-- Select Category --</option>
                        {% for category in categories %}
                          <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Content:</label>
                      <input type="text" class="form-control" name="content" id="exampleInputPassword1">
                    </div>
                    <!-- <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                    <!-- <input class="btn btn-block btn-primary" type="submit" value="Post"> -->
                </form>
              </div>
            </div>
          </div>
      
          <!-- Right part: posts -->
          <div class="col-md-8 container_post">
            <h1 class="text-primary"> Recent Post </h1>
            {% for i in post %}
            <div class="card shadow my-3">
              <div class="card-body ">
                <div class="row">
                  <div class="col-md-4">
                    <img class="img-thumbnail" src="{{i.author.profilemodel.image.url}}" alt="profile-img">
                    <h6>{{i.author}}</h6>
                  </div>
                  <div class="col-md-8">
                    <small>{{i.date}}  </small>
                    <hr>
                    <a class="h3 text-primary" href="{% url "postdetail" i.id %}">{{i.title}} </a>
                    <p class="text-justify my-3">{{i.content}} </p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            {% comment %} Pagination controls  {% endcomment %}
<nav aria-label="Page navigation" class="mt-4">
  <ul class="pagination justify-content-center">
    {% if post.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ post.previous_page_number }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}{% if request.GET.author %}&author={{ request.GET.author }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% endif %}

    {% for num in post.paginator.page_range %}
      {% if post.number == num %}
        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}{% if request.GET.author %}&author={{ request.GET.author }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if post.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ post.next_page_number }}{% if request.GET.title %}&title={{ request.GET.title }}{% endif %}{% if request.GET.author %}&author={{ request.GET.author }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
{% comment %} pagination control end  {% endcomment %}

          </div> <!-- end of right side -->

        </div> <!-- end of row -->
      </div> <!-- end of container -->
  
{% endblock body_part %}
